<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <a href="./" class="footer-top__logo">
                <img loading="lazy" src="img/icons/logo2.svg" alt="">
            </a>
        </div>
    </div>
    <div class="footer-contents">
        <div class="container">
            <div class="footer-center">
                <div class="footer-center__content">
                    <div class="footer-center__descr">
                        <p>
                            Альфасигма — одна из 5 ведущих фармацевтических компаний Италии, основанная в 1948 году
                            Марино
                            Голинелли в Болонье. Компания является признанным экспертом в области сердечно-сосудистых
                            заболеваний
                            и занимает лидирующие позиции в России по инновационности препаратов
                            и качеству доказательной базы. Сегодня Альфасигма — международная фармацевтическая
                            организация с
                            24 филиалами, присутствующая более чем
                            в 100 странах мира. В компании работает около 4000 сотрудников. В России компанию
                            представляет
                            подразделение «Альфасигма Рус».
                        </p>
                        <div class="footer-center__text">
                            СГР АМ.01.20.01.003.R.000206.03.25 от 27.03.2025
                        </div>
                        <ul>
                            <li>
                                <a href="./">Политика конфиденциальности</a>
                            </li>
                            <li>
                                <a href="./">О Cookie</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-center__right">
                        <div class="footer-center__menu">
                            <div class="footer-center__title">
                                Разделы
                            </div>
                            <ul>
                                <li>
                                    <a href="./">О весвейн</a>
                                </li>
                                <li>
                                    <a href="./">Кому подходит</a>
                                </li>
                                <li>
                                    <a href="./">Состав</a>
                                </li>
                                <li>
                                    <a href="./">Отзывы</a>
                                </li>
                                <li>
                                    <a href="./">Советы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-center__contacts">
                            <div class="footer-center__title">
                                Контакты
                            </div>
                            <ul>
                                <li>
                                    <p>
                                        ООО «Альфасигма Рус», 115054, г. Москва, пл. Павелецкая, д.2, стр.2
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Тел.: <a href="tel:74951500123">+7 (495) 150-01-23</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        e-mail:<a href="mailto:info.ru@alfasigma.com">info.ru@alfasigma.com</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Официальный сайт компании: <a href="ru.alfasigma.com">ru.alfasigma.com</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Альфасигма в соцсетях:
                                    </p>
                                    <div class="socials">
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/tg.svg" alt="">
                                        </a>
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <div class="footer-center__descr">
                                <div class="footer-center__text">
                                    СГР АМ.01.20.01.003.R.000206.03.25 от 27.03.2025
                                </div>
                                <ul>
                                    <li>
                                        <a href="./">Политика конфиденциальности</a>
                                    </li>
                                    <li>
                                        <a href="./">О Cookie</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <img loading="lazy" src="img/icons/logo3.svg" alt="" class="footer-bottom__pic1">
                <div class="footer-bottom__copy">
                    Все права защищены - © 2025 ООО "Альфасигма Рус"
                </div>
            </div>
        </div>
    </div>
</footer>