<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <div class="block-intro__content">
                    <img src="img/image1.webp" alt="" class="block-intro__pic1">
                    <img src="img/bg1.webp" alt="" class="block-intro__bg1">
                    <div class="container">
                        <div class="block-intro__body">
                            <div class="block-intro__top">
                                <h1 class="title1">
                                    Весвейн Форте —<br>
                                    средство для поддержания<br>
                                    здоровья вен
                                </h1>
                                <p>
                                    Идите легко. Мы берём всю тяжесть на себя
                                </p>
                                <a href="./" data-goto=".block-buy" data-goto-header class="btn">Где купить</a>
                            </div>
                            <div class="block-intro__bottom">
                                <img src="img/flag.webp" alt="">
                                Сделано в Италии
                            </div>
                        </div>
                    </div>
                    <div class="block-intro__text">
                        <span>БАД. Не является лекарственным средством</span>
                    </div>
                </div>
                <div class="block-intro__benefits">
                    <div class="block-intro__slider swiper ticker-slider">
                        <div class="block-intro__wrapper swiper-wrapper ticker-wrapper">
                            <div class="block-intro__slide swiper-slide ticker-slide">
                                <div class="block-intro__column">
                                    <div class="block-intro__name">
                                        Комплекс флавоноидов
                                    </div>
                                    <p>
                                        Натуральные экстракты<br>
                                        Усиливают комплекс флаваноидов
                                    </p>
                                </div>
                            </div>
                            <div class="block-intro__slide swiper-slide ticker-slide">
                                <div class="block-intro__column">
                                    <div class="block-intro__name">
                                        При тяжести и отёчности
                                    </div>
                                    <p>
                                        Может способствовать облегчению<br>
                                        при дискомфорте в ногах
                                    </p>
                                </div>
                            </div>
                            <div class="block-intro__slide swiper-slide ticker-slide">
                                <div class="block-intro__column">
                                    <div class="block-intro__name">
                                        Двухслойная технология
                                    </div>
                                    <p>
                                        Обеспечивает постепенное<br>
                                        высвобождение компонентов
                                    </p>
                                </div>
                            </div>
                            <div class="block-intro__slide swiper-slide ticker-slide">
                                <div class="block-intro__column">
                                    <div class="block-intro__name">
                                        Поддержка здоровья ног
                                    </div>
                                    <p>
                                        Уже при первых признаках дискомфорта
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-symptoms block1">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">Чувствуете тяжесть и дискомфорт в ногах?</h2>
                    </div>
                    <div class="block-symptoms__body">
                        <div data-watch data-watch-delay="300" class="block-symptoms__column">
                            <img loading="lazy" src="img/icons/icon1.svg" alt="">
                            <p>
                                Ощущение дискомфорта
                            </p>
                        </div>
                        <div data-watch data-watch-delay="600" class="block-symptoms__column">
                            <img loading="lazy" src="img/icons/icon2.svg" alt="">
                            <p>
                                Чувство усталости
                            </p>
                        </div>
                        <div data-watch data-watch-delay="900" class="block-symptoms__column">
                            <img loading="lazy" src="img/icons/icon3.svg" alt="">
                            <p>
                                Ощущение зуда
                            </p>
                        </div>
                        <div data-watch data-watch-delay="1200" class="block-symptoms__column">
                            <img loading="lazy" src="img/icons/icon4.svg" alt="">
                            <p>
                                Чувство тяжести
                            </p>
                        </div>
                        <div data-watch data-watch-delay="1500" class="block-symptoms__column">
                            <img loading="lazy" src="img/icons/icon5.svg" alt="">
                            <p>
                                Чувство отечности
                            </p>
                        </div>
                    </div>
                    <div class="block-symptoms__bottom">
                        <div class="block-symptoms__text">
                            Это могут быть первые признаки проблем с венами — состояния,<br>
                            при котором нарушается структура и функция венозной системы.
                        </div>
                        <div class="block-symptoms__more">
                            <button type="button" class="block-symptoms__more-button">
                                <svg aria-hidden="true" width="22" height="22">
                                    <use xlink:href="img/sprite.svg#alert"></use>
                                </svg>
                                Подробнее
                            </button>
                            <div class="block-symptoms__dropdown">
                                <p>
                                    Наиболее частые ощущения — чувство тяжести
                                    и дискомфорта<span>1</span>. Это состояние не зависит от времени года: летом жара
                                    усиливает
                                    неприятные ощущения,
                                    но проблема может сохраняться круглый год. Поэтому важно заботиться о ногах
                                    постоянно — чтобы в сезон активности они оставались легкими и красивыми.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-banner">
                <div class="container">
                    <p>
                        Весвейн может способствовать поддержанию здоровья вен,
                        придавая силу и легкость вашим ногам
                    </p>
                </div>
            </div>

            <div class="block-advice">
                <div class="block-advice__slider swiper ticker-slider">
                    <div class="block-advice__wrapper swiper-wrapper ticker-wrapper">
                        <div class="block-advice__slide swiper-slide ticker-slide">
                            <img loading="lazy" src="img/advice1.webp" alt="">
                            <p>
                                Не курите
                            </p>
                        </div>
                        <div class="block-advice__slide swiper-slide ticker-slide">
                            <img loading="lazy" src="img/advice2.webp" alt="">
                            <p>
                                Избегайте тесной<br>
                                одежды
                            </p>
                        </div>
                        <div class="block-advice__slide swiper-slide ticker-slide">
                            <img loading="lazy" src="img/advice3.webp" alt="">
                            <p>
                                Соблюдайте<br>
                                режим дня
                            </p>
                        </div>
                        <div class="block-advice__slide swiper-slide ticker-slide">
                            <img loading="lazy" src="img/advice4.webp" alt="">
                            <p>
                                Питайтесь<br>
                                правильно
                            </p>
                        </div>
                        <div class="block-advice__slide swiper-slide ticker-slide">
                            <img loading="lazy" src="img/advice5.webp" alt="">
                            <p>
                                Давайте<br>
                                ногам отдохнуть
                            </p>
                        </div>
                        <div class="block-advice__slide swiper-slide ticker-slide">
                            <img loading="lazy" src="img/advice6.webp" alt="">
                            <p>
                                Делайте физические<br>
                                упраженения
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-sources block1">
                <div class="container">
                    <div class="block-sources__content">
                        <div class="p-small">Источники</div>
                        <ol>
                            <li>
                                <span>1.</span>
                                EЭклоф Б. и соавт. Обновлённая терминология хронических венозных заболеваний:
                                трансатлантический междисциплинарный консенсусный документ VEIN-TERM // Журнал
                                сосудистой хирургии. 2009. Т. 49. С. 498–501
                            </li>
                            <li>
                                <span>2.</span>
                                Де Маезенер М. и соавт. Европейское общество сосудистой хирургии (ESVS), 2022.
                                Клинические рекомендации по ведению хронических заболеваний вен нижних конечностей //
                                Европейский журнал сосудистой и эндоваскулярной хирургии. 2022. Т. 63. С. 184 267
                            </li>
                            <li>
                                <span>3.</span>
                                Симао Ж. и соавт. Европейский журнал фармацевтических наук. 2023. Т. 184. Ст. 106412
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>