body {
  color: var(--102418);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: rgba(225, 225, 225, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .filter-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      z-index: 108;
      @media (max-width: 550px) {
        display: none;
      }
    }
  }
  .catalog-open & {
    @media (max-width: 768px) {
      overflow: hidden;
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--deep-orange-500);
  border-radius: 50px;
  padding: 9px 32px;
  min-height: 72px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--orange-500);
  }
  &:active {
    background-color: var(--light-orange);
  }
  &:disabled {
    pointer-events: none;
    color: var(--grey-500);
    background-color: var(--grey-400);
  }
}

.title1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: var(--deep-blue-500);
  @media (max-width: 2559px) {
    font-size: 64px;
    line-height: 113%;
  }
  @media (max-width: 1919px) {
    font-size: 48px;
    line-height: 108%;
  }
  @media (max-width: 1279px) {
    font-size: 40px;
    line-height: 120%;
  }
  @media (max-width: 759px) {
    font-size: 28px;
    line-height: 114%;
  }
}
.title2 {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  color: #000;
  @media (max-width: 2559px) {
    font-size: 48px;
    line-height: 133%;
  }
  @media (max-width: 1919px) {
    font-size: 36px;
  }
  @media (max-width: 1279px) {
    font-size: 32px;
    line-height: 113%;
  }
  @media (max-width: 759px) {
    font-size: 24px;
    line-height: 133%;
  }
}
.p-small {
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  color: #000;
  @media (max-width: 2559px) {
    font-size: 32px;
    line-height: 113%;
  }
  @media (max-width: 1919px) {
    font-size: 24px;
    line-height: 133%;
  }
  @media (max-width: 1279px) {
    font-size: 18px;
    line-height: 178%;
  }
}

.heading-complex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 1279px) {
    gap: 16px;
  }
  p {
    font-weight: 500;
    font-size: 36px;
    line-height: 133%;
    color: #000;
    @media (max-width: 2559px) {
      font-size: 32px;
      line-height: 113%;
    }
    @media (max-width: 1919px) {
      font-size: 24px;
      line-height: 133%;
    }
    @media (max-width: 1279px) {
      font-size: 18px;
      line-height: 178%;
    }
    @media (max-width: 759px) {
      font-size: 20px;
      line-height: 160%;
    }
    span {
      position: relative;
      top: -10px;
      font-size: 16px;
      line-height: 100%;
      color: var(--deep-orange-500);
      @media (max-width: 2559px) {
        font-size: 14px;
        top: -7px;
      }
      @media (max-width: 1919px) {
        font-size: 10px;
        top: -5px;
      }
    }
  }

  // .form__title
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 117%;
  }
}

.block1 {
  padding: 160px 0px;
  @media (max-width: 2559px) {
    padding: 120px 0px;
  }
  @media (max-width: 1919px) {
    padding: 100px 0px;
  }
  @media (max-width: 1279px) {
    padding: 80px 0px;
  }
  @media (max-width: 759px) {
    padding: 60px 0px;
  }
}
.block2 {
  padding: 0px 0px 160px 0px;
  @media (max-width: 2559px) {
    padding: 0px 0px 120px 0px;
  }
  @media (max-width: 1919px) {
    padding: 0px 0px 100px 0px;
  }
  @media (max-width: 1279px) {
    padding: 0px 0px 80px 0px;
  }
  @media (max-width: 759px) {
    padding: 0px 0px 60px 0px;
  }
}

.link {
  padding: 9.5px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 24px;
  color: var(--deep-orange-500);
  line-height: 120%;
  @media (max-width: 1919px) {
    padding: 9.5px 10px 9.5px 24px;
  }
  @media (max-width: 1270px) {
    font-size: 20px;
    padding: 16px 12px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  svg {
    fill: var(--deep-orange-500);
    @media (max-width: 1279px) {
      width: 25px;
      height: auto;
    }
  }
}
